args==0.1.0
beautifulsoup4==4.13.4
certifi==2025.4.26
charset-normalizer==3.4.2
clint==0.5.1
ddt==1.7.2
idna==3.10
lxml==5.4.0
pathlib==1.0.1
pycryptodome==3.22.0
requests==2.32.3
six==1.17.0
soupsieve==2.7
tenacity>=8.2.3
tqdm==4.67.1
typing_extensions==4.13.2
urllib3==2.4.0
